@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #3ec336;
    overflow: hidden;
}
.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 39s linear infinite;
}




.background li:nth-child(0) {
    left: 54%;
    width: 137px;
    height: 137px;
    bottom: -137px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 11%;
    width: 124px;
    height: 124px;
    bottom: -124px;
    animation-delay: 4s;
}
.background li:nth-child(2) {
    left: 57%;
    width: 170px;
    height: 170px;
    bottom: -170px;
    animation-delay: 3s;
}
.background li:nth-child(3) {
    left: 57%;
    width: 144px;
    height: 144px;
    bottom: -144px;
    animation-delay: 14s;
}
.background li:nth-child(4) {
    left: 30%;
    width: 120px;
    height: 120px;
    bottom: -120px;
    animation-delay: 11s;
}
.background li:nth-child(5) {
    left: 53%;
    width: 108px;
    height: 108px;
    bottom: -108px;
    animation-delay: 14s;
}
.background li:nth-child(6) {
    left: 71%;
    width: 128px;
    height: 128px;
    bottom: -128px;
    animation-delay: 19s;
}
.background li:nth-child(7) {
    left: 34%;
    width: 131px;
    height: 131px;
    bottom: -131px;
    animation-delay: 27s;
}
.background li:nth-child(8) {
    left: 47%;
    width: 100px;
    height: 100px;
    bottom: -100px;
    animation-delay: 35s;
}
.background li:nth-child(9) {
    left: 13%;
    width: 130px;
    height: 130px;
    bottom: -130px;
    animation-delay: 40s;
}

